/* RESET */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	color: currentColor;
	text-decoration: none;
}
/* Navbar */
.navbar{
	height: 100px;
	background-color: orange;
	display: flex;
	justify-content: space-around;
	align-items: center;
}


.main-menu{
	display: flex;
	gap: 30px;
	font-size: 18px;
	justify-content: space-around;
}

/* Creazione del contenuto principale */
.section-main{
  height: 750px;
	border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;	
}

.section-main .container {
	width: 80%;
  height: 700px;
  border: 5px solid red;
  
	
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .row .col {
    width: calc(100% /3);
    height: calc(100% /2);
    background-color: indianred;
    border: 1px dashed black;
  }

  
  
